<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Lyrics</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="song" class="ion-text-center">
    <h4><b>{{ song?.title }}</b></h4>
    <small><i>{{ song?.album }}</i><br><i>{{ song?.composer }}</i></small>
  </div>

  <div class="ion-text-wrap large ion-text-center">
      <p [innerHTML]="song?.lyrics"></p>
  </div>  

  <div class="ion-text-center" padding>
    <ion-button fill="clear" size="small" color="twitter">
      <ion-icon name="logo-twitter" slot="icon-only"></ion-icon>
    </ion-button>
    <ion-button fill="clear" size="small" color="facebook">
      <ion-icon name="logo-facebook" slot="icon-only"></ion-icon>
    </ion-button>
    <ion-button fill="clear" size="small" color="instagram">
      <ion-icon name="logo-instagram" slot="icon-only"></ion-icon>
    </ion-button>
  </div>
</ion-content>
