<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Lista ng Kanta
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Kantang Pinoy</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ng-container *ngIf="!filipinos || filipinos.length == 0">
      <div *ngFor="let n of [0,1,2]" padding>
        <ion-skeleton-text class="skeleton"></ion-skeleton-text>
        <p>
          <ion-skeleton-text class="fake-skeleton"></ion-skeleton-text>
        </p>
      </div>
    </ng-container>

    <ion-item-sliding *ngFor="let item of filipinos">
      <ion-item lines="inset" button [routerLink]="['/tabs/tab2/kanta-detalye', item.id]">
        <ion-label>
          <b>{{ item.title }}</b>
          <p>{{ item.artist }} {{ item.album }}</p>
        </ion-label>
        <ion-note slot="end" color="primary">{{ item.priority }}</ion-note>
      </ion-item>

    <!-- <ion-item-options side="end">
      <ion-item-option (click)="remove(item)" color="danger">
        DELETE<ion-icon name="trash" slot="end"></ion-icon>
      </ion-item-option>

    </ion-item-options> -->
    </ion-item-sliding>
  </ion-list>
  
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button routerLink="kanta-porma" routerDirection="forward" color="dark">
      <ion-icon name="document-text-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
