<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="medium">Take a Break</ion-title>
    </ion-toolbar>
  </ion-header>
  <h1></h1>
  <div class="container-fluid ion-text-center">
    <h1><strong>App under construction</strong></h1>
    <h4>Information</h4>
    <p>This project is ongoing and under development. This is made for those who always accept singing appointment but don't want to practice or don't have time practicing. If you have suggestions that might help us improve this app, we'll be more than happy to hear it.
      <br>~ <a href="https://www.facebook.com/poratheexplorer" target="_blank"> Pora D' Explorer </a>~</p>
    <br><br>
    <!-- <ion-icon name="globe-outline" size="large"></ion-icon> -->
    <!-- <ion-icon name="bug-outline" size="large"></ion-icon> -->
    <br>
    <img src="assets/rapoography.png" alt="Rapoography Image" width="50px">
<!-- 
    <ion-icon name="wifi-outline" size="large"></ion-icon> -->
    <br><br><br>
    <p>You may contact us through the details below:</p>
    <p>Mobile: 09053705456 (Globe)<br>Email: bylgrad@gmail.com<br>Editor's Page: <a href="https://www.facebook.com/rapoography">Rapoography</a></p>

    <p>Facebook:<br><a href="https://www.facebook.com/chewslyf">CHeWs</a><br><a href="https://www.facebook.com/adgshare"> Amazing Divine Grace</a></p>

    <p>YouTube:<br><a href="https://www.youtube.com/channel/UCLSOOvfrvoMOPI08oVl9s7Q">Amazing Divine Grace</a></p>
    
  </div>
  
</ion-content>
