<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab2"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalye</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
      <ion-item>
        <ion-label position="floating">Title</ion-label>
        <ion-input required type="text" [(ngModel)]="song.title"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Artist</ion-label>
        <ion-input type="text" [(ngModel)]="song.artist"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Album</ion-label>
        <ion-input type="text" [(ngModel)]="song.album"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Composer</ion-label>
        <ion-input type="text" [(ngModel)]="song.composer"></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-label position="floating">Lyrics</ion-label>
        <ion-textarea rows="10" cols="2" [(ngModel)]="song.lyrics"></ion-textarea>
      </ion-item>
  </ion-list>

  <ion-button expand="block" (click)="saveSong()" color="dark">Save &nbsp;&nbsp;<ion-icon name="save"></ion-icon></ion-button>
</ion-content>
